@keyframes slide-in {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-30px);
        opacity: 0;
    }
}

.slide-enter-active {
    animation: slide-in 0.3s ease;
}

.slide-leave-active {
    animation: slide-out 0.3s ease;
}