.board-view {

    main {
        margin-top: 1rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .board {
            background-color: $dark-gray;
            color: $dark-blue1;
            border-radius: 8px;
            box-shadow: 0 0 7px rgba($color: #000000, $alpha: 0.25);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            min-width: 250px;
            padding: 1rem 0.5rem;

            .board-title {
                align-self: flex-start;
                margin-bottom: 1rem;
                width: 100%;
                display: flex;
                justify-content: space-between;

                h3 {
                    font-weight: 500;
                }

                button {
                    border: none;
                    outline: none;
                    padding: 3px 6px;
                    transition: background 0.1s, display 0.1s;
                    background-color: $very-dark-gray;
                    color: $light-gray2;
                    font-size: 0.8rem;
                    border-radius: 4px;

                    i {
                        transition: transform 0.5s;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    &:hover i {
                        transform: rotate(360deg);
                    }
                }
            }

            .drag-container {
                width: 100%;
            }

            .task-ghost {
                transition: transform 0.18s ease;
                transform: rotateZ(5deg)
            }

            .task-ghost-drop {
                transition: transform 0.18s ease-in-out;
                transform: rotateZ(0deg)
            }

            .task {
                display: flex;
                justify-content: space-between;
                width: 100%;
                background-color: $light-gray;
                box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.25);
                border-radius: 6px;

                padding: 0.7rem;
                margin-bottom: 0.6rem;

                transition: background 0.1s;

                &:hover {
                    background-color: $light-gray2;
                    cursor: pointer;

                    button {
                        display: block;

                        &:hover {
                            background-color: $dark-gray;
                            color: $very-dark-gray;
                            cursor: pointer;
                        }
                    }
                }

                .column-drag-handle {
                    margin-right: 6px;
                    cursor: move;
                }

                h3 {
                    font-weight: 300;
                }

                button {
                    display: none;
                    border: none;
                    outline: none;
                    padding: 3px 6px;
                    transition: background 0.1s, display 0.1s;
                    background-color: $light-gray2;
                    color: $very-dark-gray;
                    font-size: 0.8rem;
                    border-radius: 4px;
                }
            }

            .drop-placeholder {
                background-color: rgba($color: $very-dark-gray, $alpha: 0.4);
                padding: 0.7rem;
                border-radius: 6px;
                margin-bottom: 0.6rem;
                box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.25);
            }


            .empty-board-text {
                width: 100%;
                color: $light-gray;
                font-size: 1.15rem;
                letter-spacing: 1px;
            }
        }
    }
}