.board-view {
    border: 1px solid red;

    .boards {
        display: flex;
        justify-content: space-between;
        color: $dark-blue2;

        .board {
            background-color: $light-gray;
            width: 20%;
            padding: 0 5px;
            min-width: 230px;
            max-width: 300px;

            .board-title {
                text-align: center;
                font-weight: 400;
                text-transform: uppercase;
                font-size: 1rem;
                margin-top: 0.8rem;
                margin-bottom: 0.5rem;
            }

            .task {
                display: flex;
                padding: 14px 4px;
                border-radius: 10px;
                border: 1.2px solid $dark-gray;

                width: 100%;
                margin-bottom: 0.75rem;

                :last-of-type {
                    margin-bottom: 0;
                }

                .column-drag-handle {
                    margin-right: 6px;
                    cursor: move;
                }
            }
        }
    }

    .drop-placeholder {
        margin-bottom: 0.75rem;
        border-radius: 10px;
        width: 100%;
        margin: 0 auto;
        background-color: $very-dark-gray;
    }
}