$dark-blue1: #1b262c;
$dark-blue2: #0f4c75;
$light-blue1: #3282b8;
$light-blue2: #bbe1fa;
$orange:#FAA962;
$light-gray: #F4F5F7;
$light-gray2: #E7E7E9;
$dark-gray: #DDD;
$very-dark-gray: #AAA;
$very-dark-gray2: #a4adad;
$text-color-dark: #113779;